.main-promotion {
    margin-top: 1em;
    overflow: hidden;
}

.content-promotion {
    margin-top: -3.5em;
    height: 415px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2.5em;
    background-color: rgba(255,255,255,.7);
    border-radius: 50%;
    width: 500px;
    height: 500px;

    & h1 {
        color: #212529;
        font-size: 64px;
        font-weight: 500;
        text-align: center;
        margin: 0 1em;
        margin-bottom: .2em;
    }
}
