.main-menu {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: pfbeausans, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    
    .sub-menu {
        & span {
            display: block;
            padding: .5em 0;
        }

        &:hover, &:focus {
            background-color: #f3f3f3;
            border-top-color: #dedede;
            border-top-width: 1px;
            border-top-style: solid;
            border-left-color: #dedede;
            border-left-width: 1px;
            border-left-style: solid;
            border-right-color: #dedede;
            border-right-width: 1px;
            border-right-style: solid;

            & +li {
                border-color: transparent;
            }
        }
    }

    & ul {
        display: flex;
        flex-direction: row;
    }

    & li {
        padding: 0 .5em;
        border: 1px solid transparent;
        border-left: 1px solid black;

        &:first-child {
            border-left-color: transparent;
        }
    }

    & a {
        display: block;
        cursor: pointer;
        color: black;
        padding: .5em 0;

        &:hover, &:focus {
            color: rgba(0,0,0,.7);
        }
    }
}
