.single-banner {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 1.5em;
    border: 1px solid #f3f3f3;

    .info-container {
        width: 33%;
        background-color: rgba(255,255,255,.9);
    }

    .information {
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h3 {
            text-align: center;
            margin-bottom: .4em;
        }

        & p {
            text-align: center;
        }

        & a {
            margin-top: 1em;
        }
    }
}

.align-right {
    justify-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}

