body {
    margin: 0;
    padding: 0;
    font-family: pfbeausans, Arial, 'sans-serif';
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}
