.btn {
    cursor: pointer;
    padding: .6em 1em;
    transition: background-color .15s;
    font-family: pfbeausans, Arial, 'sans-serif';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: .2em;
}

.btn-default {
    color: #212529;
    background-color: #ddd;
    border: 1px solid #ddd;

    &:hover, &:focus {
        background-color: #CACACA;
        border-color: #C4C4C4;
    }
}

.btn-primary {
    color: white;
    background-color: #dc2a4d;
    border: 1px solid #dc2a4d;

    &:hover, &:focus {
        background-color: #c0203f;
        border-color: #b51e3c;    
    }
}

.btn-secondary {
    color: white;
    background-color: #4d833f;
    border: 1px solid #4d833f;

    &:hover, &:focus {
        background-color: #3e6933;
        border-color: #39612e;
    }
}
