@import (css) url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

@font-face {
  font-family: 'pfbeausans';
  src: url("./../assets/fonts/pfbeausanspro-reg-webfont.woff2") format("woff2"), url("./../assets/fonts/pfbeausanspro-reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'pfbeausans';
  src: url("./../assets/fonts/pfbeausanspro-bold-webfont.woff2") format("woff2"), url("./../assets/fonts/pfbeausanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'pfbeausans';
  src: url("./../assets/fonts/pfbeausanspro-thin-webfont.woff2") format("woff2"), url("./../assets/fonts/pfbeausanspro-thin-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
