.legality {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1em;

   & p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
       &:first-child {
        margin-bottom: 1em;
       }
   }

   & a {
    color: white;
    text-decoration: underline;
   }
}
