.social-networks {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    .btn-white {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: normal;
        font-size: 14px;
        font-weight: 400;
        background-color: white;
        color: #3f3f3f;

        & i {
            width: 24px;
            height: 24px;
            margin-right: .5em;
        }

        & svg {
            fill: #3f3f3f;
        }
    }

    & ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5em;

        & li {
            margin-right: .5em;

            &:last-child {
                margin-right: 0;
            }
        }

        & svg {
            height: 36px;
            width: 36px;
            fill: white;
        }
    }
}
