.credit-simulation {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f3f3f3;
    padding: 1em .95em;

    & form {
        margin-left: auto;
        display: flex;

        & input[type='text'] {
            text-align: center;
            padding: 15px;
            margin-right: 2em;
            border: 1px solid #c2c2c2;
            border-radius: 3px;
            font-size: 16px;
            line-height: 16px;
            color: #757575;
            background-color: white;
            transition: border-color .15s;
            width: 40%;
        }

        & input[type='submit'] {
            width: 60%;
        }
    }

    & h3 {
        color: #212529;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;

        & span {
            font-weight: 300;
            text-transform: none;
        }
    }
}
