.general-information {
    width: 26%;

    & li {
        padding: .5em 0;
    }

    & h4 {
        font-size: 19px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: .5em;
    }

    & a {
        color: white;
        font-size: 14px;
        line-height: 1.5;
    }
}
