.brand-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.95em;
}

.office-pointer {
    align-self: center;

    & a {
        display: flex;
        flex-direction: row;
        color: #3f3f3f;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.home-login {
    align-self: center;

    & button {
        font-family: pfbeausans, Arial, 'sans-serif';
        background-image: none;
    }
}
