.upper-nav {
    background-color: #3f3f3f;
    padding-left: 1.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 12px;
    font-weight: 400;

    & ul {
        display: flex;
        flex-direction: row;
    }

    & li {
        display: flex;
    }

    & a {
        color: white;
        padding: 0.7em;

        &:hover, &:focus {
            color: rgba(255,255,255,.75);
        }
    }
}
