.footer {
    display: flex;
    flex-direction: column;
    font-family: lato;
    padding: 3em 1em;
    background-color: #3f3f3f;
    color: white;

    .information-container {
        display: flex
    }
    .legality-container {
        display: flex;
        justify-content: center;
    }
}
